<style>
md-dialog{width:50%}
</style>
<md-dialog aria-lebel="Welcome">
 <div style="margin-left:10px">
  <h6>New Milestone</h6>
</div>
<md-dialog-content>
  <form name="milestone" style="margin-left:10px">
   
    <md-input-container class="md-block">
      <label for="milestone_name" class="active">{{M.MILESTONES_FIELD_MILESTONE_NAME}}</label>
      <input id="milestone_name" name="milestone_name" type="text" class="validate" ng-model="$root.milestone_name" required >
      <div ng-messages="forms.projectsForm.project_name.$error" ng-show="milestone.milestone_name.$dirty">
        <div ng-message="required">{{M.REQUIRED}}</div>
      </div>
    </md-input-container>
    
    
    <md-input-container class="md-block">
     <label for="estimated_start_date" class="active">{{M.MILESTONES_FIELD_ESTIMATEDSTARTDATE}}:</label>
     <md-datepicker  ng-model="$root.estimated_start_date" ng-change="newestimatedStartDate(data.single.estimated_start_date)" id="estimated_start_date" name="estimated_start_date" class="validate" required md-open-on-focus ></md-datepicker>
     <div ng-messages="milestone.estimated_start_date.$error" ng-show="milestone.estimated_start_date.$dirty">
      <div ng-message="required">{{M.REQUIRED}}</div>
    </div>
  </md-input-container>
  
  
  
  <md-input-container class="md-block">
   <label for="estimated_end_date" class="active">{{M.MILESTONES_FIELD_ESTIMATEDENDDATE}}:</label>
   <md-datepicker ng-model="$root.estimated_end_date" ng-change="newestimatedEndDate(data.single.estimated_end_date)" id="estimated_end_date" name="estimated_end_date" class="validate" required  ></md-datepicker>
   <div ng-messages="milestone.estimated_end_date.$error" ng-show="milestone.estimated_end_date.$dirty">
    <div ng-message="required">{{M.REQUIRED}}</div>
  </div>
</md-input-container>


<md-input-container  class="md-block">
  <label for="status_value" class="active">{{M.MILESTONES_FIELD_STATUS}}:</label>
  <md-select ng-model="$root.status_value" id="clients_id" name="status_value" class="validate" required>
   
    <md-option><em>None</em></md-option>
    <md-option ng-repeat="status in Status"  ng-value="status.value" >
      {{status.value}}
    </md-option>
    
  </md-select>
  <div ng-messages="milestone.status_value.$error" ng-show="milestone.status_value.$dirty">
    <div ng-message="required">{{M.REQUIRED}}</div>
  </div>
</md-input-container>

<md-input-container  class="md-block">
  <label for="user" class="active">Who is Responsible?</label>
  <md-select ng-model="$root.user_id" id="clients_id" name="user_id" class="validate" required>
   
    <md-option><em>None</em></md-option>
    <md-option ng-repeat="user in Users"  ng-value="user.id">
      {{user.display_name}}
    </md-option>
    
  </md-select>
  <div ng-messages="milestone.user_id.$error" ng-show="milestone.user_id.$dirty">
    <div ng-message="required">{{M.REQUIRED}}</div>
  </div>
</md-input-container>

<md-input-container  class="md-block">
  <label for="flag" class="active">{{M.MILESTONES_FIELD_FLAG}}:</label>
  <md-select ng-model="$root.flag" id="flag" name="flag" class="validate" required>
   
    <md-option><em>None</em></md-option>
    <md-option ng-repeat="flag in Flag"  ng-value="flag.value" >
      {{flag.value}}
    </md-option>
    
  </md-select>
  <div ng-messages="milestone.flag.$error" ng-show="milestone.flag.$dirty">
    <div ng-message="required">{{M.REQUIRED}}</div>
  </div>
</md-input-container>

<md-dialog-actions layout="row">
  
  <md-button  class = "md-primary md-raised"  ng-click = "addMilestone($event)"
  ng-disabled="milestone.$invalid">
  Add 
</md-button>
<md-button  class = "md-primary md-raised"  ng-click = "cancel($event)">
 Cancel 
</md-button>
</md-dialog-actions>

</form>
</md-dialog-content> 
</md-dialog>


