<td>
	<a ng-if="currentUser.role == 'superadmin' || (currentUser.role != 'superadmin' && item.role !='superadmin')"
	href="#!/{{currentRoute}}/{{item.id}}">{{item.estimated_hours}}</a>
	<!--<span ng-if="currentUser.role != 'superadmin' && item.role =='superadmin'">{{item.organizationName}}</span>-->
</td>
<td>
    <span>{{item.version_name}}</span>
</td>
<td>
    <span>{{item.release_date}}</span>
</td>
<td>
    <span>{{item.bug_verification}}</span>
</td>
<td>
    <span>{{item.is_active}}</span>
</td>
<td>
    <span>{{item.backlog.title}}</span>
</td>
<td>
    <span>{{item.test_cases.testcase_no}}</span>
</td>
<td>
    <span>{{item.test_status.name}}</span>
</td>
<td>
	<span>
		<a class="btn-floating red darken-4" ng-click="softDelete(item)">
			<i class="material-icons">delete</i>
		</a>
	</span>
</td>