<td>
	<a ng-if="currentUser.role == 'superadmin' || (currentUser.role != 'superadmin' && item.role !='superadmin')"
	href="#!/{{currentRoute}}/{{item.id}}">{{item.holiday_date}}</a>
	<!--<span ng-if="currentUser.role != 'superadmin' && item.role =='superadmin'">{{item.organizationName}}</span>-->
</td>
<td>
    <span>{{item.discription}}</span>
</td>
<td>
    <span>{{item.subject}}</span>
</td>
<td>
    <span>{{item.message}}</span>
</td>
<td>
    <span>{{item.status}}</span>
</td>
<td>
    <span>{{item.type}} </span>
</td>
<td>
    <span>{{item.companies.organization_name}} </span>
</td>
<td>
	{{companyname}}
</td>
<td>
	<span>
		<a class="btn-floating red darken-4" ng-click="softDelete(item)">
			<i class="material-icons">delete</i>
		</a>
	</span>
</td>