
<form name="forms.batchesForm" ng-if="!(data.single.role == 'superadmin' && currentUser.role !='superadmin')">
   
   <md-input-container class="md-block">
    <label for="title" class="active">{{M.MANAGE_BATCHS_FIELD_TITLE}}:</label>
    <input id="title" name="title" type="text" class="validate" ng-model="data.single.title" required ng-disabled="locked">
    <div ng-messages="forms.batchesForm.title.$error" ng-show="forms.batchesForm.title.$dirty">
      <div ng-message="required">{{M.REQUIRED}}</div>
    </div>
  </md-input-container>
  
  <md-input-container class="md-block">
  	   <label for="start_date" class="active">{{M.MANAGE_BATCHS_FIELD_STARTDATE}}:</label>
	 <md-datepicker ng-model="data.single.start_date" ng-change="newstartDate(data.single.start_date)" id="start_date" name="start_date" class="validate" md-open-on-focus ng-disabled="locked"></md-datepicker>
	     <div ng-messages="forms.batchesForm.start_date.$error" ng-show="forms.batchesForm.start_date.$dirty">
      <div ng-message="required">{{M.REQUIRED}}</div>
    </div>
  </md-input-container>
  
  <md-input-container class="md-block">
  	   <label for="end_date" class="active">{{M.MANAGE_BATCHS_FIELD_ENDDATE}}:</label>
	 <md-datepicker ng-model="data.single.end_date" ng-change="newendDate(data.single.end_date)" id="end_date" name="end_date" class="validate" md-open-on-focus ng-disabled="locked"></md-datepicker>
	     <div ng-messages="forms.batchesForm.end_date.$error" ng-show="forms.batchesForm.end_date.$dirty">
      <div ng-message="required">{{M.REQUIRED}}</div>
    </div>
  </md-input-container>
 
  <md-input-container  class="md-block">
          <label for="manage_courses_id" class="active">{{M.MANAGE_BATCHS_FIELD_COURSEID}}:</label>
          <md-select ng-model="data.single.manage_courses_id" id="manage_courses_id" name="manage_courses_id" class="validate" ng-disabled="locked">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="mcdata in manageCoursesdata" ng-selected="{{data.single.manage_courses.title === mcdata.title}}"
            ng-value="mcdata.id">
              {{mcdata.title}}
            </md-option>
        </md-select>
          <div ng-messages="forms.batchesForm.manage_courses_id.$error" ng-show="forms.batchesForm.manage_courses_id.$dirty">
      <div ng-message="required">{{M.REQUIRED}}</div>     
    </div>
  </md-input-container>
 
 <md-input-container  class="md-block">
          <label for="status_id" class="active">{{M.MANAGE_BATCHS_FIELD_STATUSID}}:</label>
          <md-select ng-model="data.single.status_id" id="status_id" name="status_id" class="validate" ng-disabled="locked">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="sdata in statusdata" ng-selected="{{data.single.status.title === sdata.title}}"
            ng-value="sdata.id">
              {{sdata.title}}
            </md-option>
        </md-select>
          <div ng-messages="forms.manageCoursesForm.status_id.$error" ng-show="forms.manageCoursesForm.status_id.$dirty">
      <div ng-message="required">{{M.REQUIRED}}</div>     
    </div>
 </md-input-container>
 
 <md-input-container class="md-block">
   <md-checkbox class="validate" ng-model="data.single.isActive" ng-true-value="1" ng-false-value="0" ng-checked="data.single.isActive" id="isActive" name="isActive" ng-disabled="locked">
		{{M.MANAGE_BATCHS_FIELD_IS_ACTIVE}} 
   </md-checkbox>
 </md-input-container>

</form>

<div ng-if="(data.single.role == 'superadmin' && currentUser.role !='superadmin')">
  <div class="middle-center-heading">{{M.UNAUTHORIZED_AREA}}</div>
  <style type="text/css">
      .middle-center-heading{
              left: 50%;
              position: absolute;
              top: 50%;
              margin-left: -300px;
              font-size: xx-large;
      }
  </style>
</div>




