<form name="forms.projectsForm" ng-if="!(data.single.role == 'superadmin' && currentUser.role !='superadmin')">
	<!--<md-input-container  class="md-block">-->
 <!--         <label for="companies_id" class="active">{{M.PROJECTS_FIELD_COMPANY}}:</label>-->
 <!--         <md-select ng-model="data.single.companies_id" id="companies_id" name="companies_id" class="validate" ng-disabled="locked">-->
 <!--           <md-option><em>None</em></md-option>-->
 <!--           <md-option ng-repeat="company in companyname" ng-selected="{{data.single.companies_id.organization_name === company.organization_name}}"-->
 <!--           ng-value="company.id">-->
 <!--             {{company.organization_name}}-->
 <!--           </md-option>-->
 <!--       </md-select>-->
    <!--      <div ng-messages="forms.projectsForm.companies_id.$error" ng-show="forms.projectsForm.companies_id.$dirty">-->
    <!--  <div ng-message="required">{{M.REQUIRED}}</div>     -->
    <!--</div>-->
 <!-- </md-input-container>-->
  <md-input-container class="md-block">
    <label for="project_name" class="active">{{M.PROJECTS_FIELD_PROJECTNAME}}:</label>
    <input id="project_name" name="project_name" type="text" class="validate" ng-model="data.single.project_name" required ng-disabled="locked">
    <div ng-messages="forms.projectsForm.project_name.$error" ng-show="forms.projectsForm.project_name.$dirty">
      <div ng-message="required">{{M.REQUIRED}}</div>
    </div>
  </md-input-container>
  <md-input-container class="md-block">
    <label for="project_description" class="active">{{M.PROJECTS_FIELD_PROJECTDESCRIPTION}}:</label>
    <input id="project_description" name="project_description" type="text" class="validate" ng-model="data.single.project_description" required ng-disabled="locked">
    <div ng-messages="forms.projectsForm.project_description.$error" ng-show="forms.projectsForm.project_description.$dirty">
      <div ng-message="required">{{M.REQUIRED}}</div>
    </div>
  </md-input-container>
  <md-input-container class="md-block">
  	   <label for="estimated_start_date" class="active">{{M.PROJECTS_FIELD_ESTIMATEDSTARTDATE}}:</label>
	 <md-datepicker ng-model="data.single.estimated_start_date" ng-change="newestimatedStartDate(data.single.estimated_start_date)" id="estimated_start_date" name="estimated_start_date" class="validate" required md-open-on-focus ng-disabled="locked"></md-datepicker>
	     <div ng-messages="forms.projectsForm.estimated_start_date.$error" ng-show="forms.projectsForm.estimated_start_date.$dirty">
      <div ng-message="required">{{M.REQUIRED}}</div>
    </div>
 </md-input-container>
  <md-input-container class="md-block">
    <label for="estimated_hours" class="active">{{M.PROJECTS_FIELD_ESTIMATEDHOURS}}:</label>
    <input id="estimated_hours" name="estimated_hours" type="number" maxlength="4" class="validate" ng-model="data.single.estimated_hours"  ng-disabled="locked">
    <!--<div ng-messages="forms.projectsForm.estimated_hours.$error" ng-show="forms.projectsForm.estimated_hours.$dirty">-->
    <!--  <div ng-message="required">{{M.REQUIRED}}</div>-->
    <!--</div>-->
  </md-input-container>
  <md-input-container class="md-block">
    <label for="daily_estimated_hours" class="active">{{M.PROJECTS_FIELD_DAILYESTIMATEDHOURS}}:</label>
    <input id="daily_estimated_hours" name="daily_estimated_hours" type="number" maxlength="1" class="validate" ng-model="data.single.daily_estimated_hours"  ng-disabled="locked">
    <!--<div ng-messages="forms.projectsForm.daily_estimated_hours.$error" ng-show="forms.projectsForm.daily_estimated_hours.$dirty">-->
    <!--  <div ng-message="required">{{M.REQUIRED}}</div>-->
    <!--</div>-->
  </md-input-container>
  <md-input-container class="md-block">
  	   <label for="estimated_end_date" class="active">{{M.PROJECTS_FIELD_ESTIMATEDENDDATE}}:</label>
	 <md-datepicker ng-model="data.single.estimated_end_date" ng-change="newestimatedEndDate(data.single.estimated_end_date)" id="estimated_end_date" name="estimated_end_date" class="validate" required md-open-on-focus ng-disabled="locked"></md-datepicker>
	     <div ng-messages="forms.projectsForm.estimated_end_date.$error" ng-show="forms.projectsForm.estimated_end_date.$dirty">
      <div ng-message="required">{{M.REQUIRED}}</div>
    </div>
 </md-input-container>
  <md-input-container class="md-block">
    <label for="devUrl" class="active">{{M.PROJECTS_FIELD_DEVURL}}:</label>
    <input id="devUrl" name="dev_url" type="text" class="validate" ng-model="data.single.dev_url"  ng-disabled="locked">
    <!--<div ng-messages="forms.projectsForm.dev_url.$error" ng-show="forms.projectsForm.dev_url.$dirty">-->
    <!--  <div ng-message="required">{{M.REQUIRED}}</div>-->
    <!--</div>-->
  </md-input-container>
 <md-input-container class="md-block">
    <label for="qa_url" class="active">{{M.PROJECTS_FIELD_QAURL}}:</label>
    <input id="qa_url" name="qa_url" type="text" class="validate" ng-model="data.single.qa_url"  ng-disabled="locked">
    <!--<div ng-messages="forms.projectsForm.qa_url.$error" ng-show="forms.projectsForm.qa_url.$dirty">-->
    <!--  <div ng-message="required">{{M.REQUIRED}}</div>     -->
    <!--</div>-->
  </md-input-container>
  <md-input-container class="md-block">
    <label for="po_url" class="active">{{M.PROJECTS_FIELD_POURL}}:</label>
    <input id="po_url" name="po_url" type="text" class="validate" ng-model="data.single.po_url"  ng-disabled="locked">
    <!--<div ng-messages="forms.projectsForm.po_url.$error" ng-show="forms.projectsForm.po_url.$dirty">-->
    <!--  <div ng-message="required">{{M.REQUIRED}}</div>     -->
    <!--</div>-->
  </md-input-container>
  
  <md-input-container class="md-block">
    <label for="demo_url" class="active">{{M.PROJECTS_FIELD_DEMOURL}}:</label>
    <input id="demo_url" name="demo_url" type="text" class="validate" ng-model="data.single.demo_url"  ng-disabled="locked">
    <!--<div ng-messages="forms.projectsForm.demo_url.$error" ng-show="forms.projectsForm.demo_url.$dirty">-->
    <!--  <div ng-message="required">{{M.REQUIRED}}</div>-->
    <!--</div>-->
  </md-input-container>
  
   <md-input-container class="md-block">
    <label for="live_url" class="active">{{M.PROJECTS_FIELD_LIVEURL}}:</label>
    <input id="live_url" name="live_url" type="text" class="validate" ng-model="data.single.live_url"  ng-disabled="locked">
    <!--<div ng-messages="forms.projectsForm.live_url.$error" ng-show="forms.projectsForm.live_url.$dirty">-->
    <!--  <div ng-message="required">{{M.REQUIRED}}</div>     -->
    <!--</div>-->
  </md-input-container>
  
   <md-input-container  class="md-block">
          <label for="clients_id" class="active">{{M.PROJECTS_FIELD_CLIENT}}:</label>
          <md-select ng-model="data.single.clients_id" id="clients_id" name="clients_id" class="validate" ng-disabled="locked">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="cdata in Clientdata" ng-selected="{{data.single.clients_id.name === cdata.name}}"
            ng-value="cdata.id">
              {{cdata.name}}
            </md-option>
        </md-select>
    <!-- <div ng-messages="forms.projectsForm.clients_id.$error" ng-show="forms.projectsForm.clients_id.$dirty">-->
    <!--  <div ng-message="required">{{M.REQUIRED}}</div>     -->
    <!--</div>-->
    
  </md-input-container>
  
   <md-input-container class="md-block">
  <md-checkbox class="validate" ng-model="data.single.is_active" ng-true-value="1" ng-false-value="0" ng-checked="data.single.is_active" id="is_active" name="is_active" required ng-disabled="locked">
		{{M.PROJECTS_FIELD_IS_ACTIVE}} 
          </md-checkbox>
   </md-input-container>
   
   <md-input-container class="md-block">
    <label for="version" class="active">{{M.PROJECTS_FIELD_VERSION}}:</label>
    <input id="version" name="version" type="number" maxlength="10" class="validate" ng-model="data.single.version" required ng-disabled="locked">
    <div ng-messages="forms.projectsForm.version.$error" ng-show="forms.projectsForm.version.$dirty">
      <div ng-message="required">{{M.REQUIRED}}</div>
    </div>
  </md-input-container>
  
   <md-input-container class="md-block">
    <label for="type" class="active">{{M.PROJECTS_FIELD_TYPE}}:</label>
    <input id="type" name="type" type="text" class="validate" ng-model="data.single.type" required ng-disabled="locked">
    <div ng-messages="forms.projectsForm.type.$error" ng-show="forms.projectsForm.type.$dirty">
      <div ng-message="required">{{M.REQUIRED}}</div>     
    </div>
  </md-input-container>
  
</form>

<div ng-if="(data.single.role == 'superadmin' && currentUser.role !='superadmin')">
  <div class="middle-center-heading">{{M.UNAUTHORIZED_AREA}}</div>
  <style type="text/css">
      .middle-center-heading{
              left: 50%;
              position: absolute;
              top: 50%;
              margin-left: -300px;
              font-size: xx-large;
      }
  </style>
</div>